<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a routerLink="all/cars" routerLinkActive="active" class="nav-link">Car List</a>
        </li>
        <li class="nav-item">
            <a routerLink="car/register" routerLinkActive="active" class="nav-link">Car Register</a>
        </li>
        <li class="nav-item">
            <a routerLink="car/document" routerLinkActive="active" class="nav-link">Document List</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">RentGo</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
